body {
	background-color: #FDEC9F;
	font-family: sans-serif; 
	} 

h1 { 
	color: red; 
	text-align: center;
	}
	
h2 {
	margin-bottom: 2px;
}	
	
	 
img.groot {
	display: block;
	width: 200px;
	height: 75px;
	margin: 0 auto;
}	
	
.sausFiguur {
	width: 95px;
	height: 85px;
	}	
	
.sausTekst {
	display: inline-block;
	height: 85px;
}	
	
nav ul {
	background-color: red;
	padding: 0.4em 0;
}

nav li {
	display: inline;
}

nav li a {
	color: white;
	font-weight: bold;
	padding-left: 0.5em;
	text-decoration: none;
	vertical-align: middle;
}

nav li a:hover {
	color: #F7FFCC;
}

#alfabet {
		list-style-type: none;
	}
	
#alfabet li {
		display:inline;
	}
	